* {
    margin: 0%;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
$mainfont: 'Raleway',
sans-serif;
$color1:white;
$color2:rgb(240,
240,
240);
$color3:#525252;
$color4:rgb(255,
102,
0);
$color5:rgb(50,
50,
50);
body {
    font-family: $mainfont;
    background-color: $color1;
    user-select: none;
}

.container {
    background-color: $color5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.metronome {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: $color2;
    height: 350px;
    justify-content: space-between;
    padding: 2%;
    .bpm-display {
        width: 100%;
        color: $color4;
        text-align: center;
        font-weight: bold;
        .tempo {
            font-size: 4em;
        }
    }
    .beats-per-measure-text {
        text-align: center;
        font-size: 0.8em;
        text-transform: uppercase;
    }
}


/*reconfiguración del slider del metrónomo*/

input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 70%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $color4;
    cursor: pointer;
    margin-top: -10px;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $color4;
    cursor: pointer;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}


/*fin reconfiguración del slider del metrónomo*/

.tempo-text {
    font-size: .8em;
    text-transform: uppercase;
    text-align: center;
}

.temposettings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .adjust-tempo-btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #ddd;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: $color4;
            color: $color1;
        }
    }
    .decrease-tempo {
        font-size: 40px;
        line-height: 25px;
    }
    .increase-tempo {
        font-size: 40px;
        line-height: 30px;
    }
}

.start-stop {
    width: 50px;
    height: 50px;
    font-size: 0.7em;
    font-weight: bolder;
    text-align: center;
    background-color: $color4;
    color: white;
    border-radius: 50%;
    line-height: 50px;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
        background-color: green;
    }
}

.measures {
    display: flex;
    justify-content: center;
    .stepper {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $color3;
        text-align: center;
        margin: 0 5px;
        line-height: 20px;
        &:hover {
            background-color: $color4;
            color: white;
            cursor: pointer;
        }
    }
}